// media queries for this project
$media-laptops: 1300px;
// $media-small-desktops: 991px; ToDo in the future :)
$media-tablets: 768px;
// $media-small-tablets: 650px; ToDo in the future :)
$media-phones: 420px;
$media-small-phones: 350px;
